# Entornos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/

# Archivos de sistema
.DS_Store

# Salidas y datos procesados
output/
data/videos/

# Archivos de video y modelos
*.mp4
*.avi
*.pt

# Datos exportados
*.csv

# Configs locales de zonas
configs/config.yaml

# Dependencias
*.egg-info/
dist/
build/

# Logs
*.log
